body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1e1e1e; /* Tom mais escuro */
    color: #ffffff; /* Texto branco para melhor contraste */
    margin: 0;
    padding: 20px;
}

h1 {
    color: #ffffff; /* Título em branco */
}

.container {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.menu {
    width: 20%;
    background-color: #333333; /* Menu com fundo escuro */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.chart {
    width: 75%;
    background-color: #1e1e1e; /* Fundo escuro para a tabela */
}

select, input {
    margin-bottom: 10px;
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #2e2e2e; /* Fundo escuro para os inputs */
    color: #ffffff; /* Texto branco */
}

label {
    font-weight: bold;
    color: #ffffff; /* Texto branco */
}

.decision-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    background-color: #007bff;
    color: #ffffff; /* Texto branco */
    border: none;
    cursor: pointer;
    border-radius: 4px;
    text-align: left;
}

.decision-button:hover {
    background-color: #0056b3;
}
